.branch_title{
  background: rgba(0,0,0,0.6);
  font-family: 'Edu TAS Beginner';
  font-size: xx-large;
  text-align: center;
  margin: 0;
  color: white;
  width: 85%;
  margin: 0 auto;
}

@-webkit-keyframes scroll {  
  0% {  
   transform: translateX(0);  
  }  
  100% {  
   transform: translateX(calc(-250px * 7));  
  }  
 }  
 @keyframes scroll {  
  0% {  
   transform: translateX(0);  
  }  
  100% {  
   transform: translateX(calc(-250px * 7));  
  }  
 }  
 .slider {  
  background: white;  
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);  
  height: 50vh;  
  margin: auto;  
  overflow: hidden;  
  position: relative;  
  width: 85%;  
 }  
 
 .slider .slide-track {  
  -webkit-animation: scroll 40s linear infinite;  
      animation: scroll 40s linear infinite;  
  display: flex;  
  width: calc(30rem * 14);  
 }  
 .slider .slide {  
  height: 50vh;  
  width: 20%; 
  
  img{
    height: 50vh; 
    width: 100%; 
    object-fit: cover;
  };
 } 








 @-webkit-keyframes scroll2 {  
  0% {  
    transform: translateX(calc(-250px * 7));  
  }  
  100% {  
    transform: translateX(0);  
  }  
 }  
 @keyframes scroll2 {  
  0% {  
    transform: translateX(calc(-250px * 7));  
  }  
  100% {  
    transform: translateX(0);  
  }  
 }  
 .sslider {  
  background: white;  
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);  
  height: 50vh;  
  margin: auto;  
  overflow: hidden;  
  position: relative;  
  width: 85%;  
 }  
 
 .sslider .sslide-track {  
  -webkit-animation: scroll2 40s linear infinite;  
      animation: scroll2 40s linear infinite;  
  display: flex;  
  width: calc(30rem * 14);  
 }  
 .sslider .sslide {  
  height: 50vh;  
  width: 20%; 
  
  img{
    height: 50vh; 
    width: 100%; 
    object-fit: cover;
  };
 } 
